# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
app/build/
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
*.lock.bak

# Android
app/android/.gradle/
app/android/local.properties
app/android/app/debug/
app/android/app/profile/
app/android/app/release/
app/android/key.properties
*.jks
*.keystore

# iOS
app/ios/Pods/
app/ios/.symlinks/
app/ios/Flutter/Flutter.framework/
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/ephemeral/

# Editores e SO
.idea/
.vscode/
*.iml
.DS_Store
*.log
.env
.env.*
